header {
  background-color: #fffdd0;
  color: #474646;
  padding: 10px;
  text-align: center;
}
body {
  background-color: #1c2d3b;
  color: #98b574;
  padding: 10px;
  text-align: center;
}
a {
  color: 	#fb7c66;
  text-decoration: none;
}

h1 {
  font-family: "Andale Mono", Times, serif;
  font-size: 50px;
}
h2 {
  font-family: "Andale Mono", Times, serif;
}
p {
  font-family: "Andale Mono", Helvetica, sans-serif;
}
