header {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
body {
  background-color: #ffffff;
  color: #4ab7ed;
  padding: 10px;
  text-align: center;
}
a {
  color: 	#f56775;
  text-decoration: none;
}

h1 {
  font-family: "Arial", Arial, sans-serif;
  font-size: 50px;
}
h2 {
  font-family: "Arial", Arial, sans-serif;
}
p {
  font-family: "Arial", Arial, sans-serif;
}
