header {
  background-color: #ff868a;
  color: #a7eb9b;
  padding: 10px;
  text-align: center;
}
body {
  background-color: #86c6ff;
  color: #fffc86;
}

h1 {
  font-family: "Andale Mono", Times, serif;
}

p {
  font-family: "Andale Mono", Helvetica, sans-serif;
}
